<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Sign Up</title>
    </head>
    <body> 
        <div id="loginWrapper">
        <h2>Sign Up</h2>
        <form method = "POST">
            <input type = 'text' name="username" placeholder="Username" required><br><br>
            <input type = 'password' name = 'password' placeholder = 'Password' required><br><br>
            <!-- Role selection dropdown -->
            <label for="role">Select Role:</label>
            <select name="role" id="role" required>
                <option value="common">Common User</option>
                <option value="admin">Administrator</option>
            </select>
            <button type="submit">Sign Up</button><br><br>
        </form> 
        <a href="http://127.0.0.1:5000/login">Already have an account? Login</a><br><br>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="flash-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %} 
    </body>
</html>