<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='patientstyle.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" onclick="showDashboard()">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showDashboard()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showFHIRTable()">FHIR Data Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showPatientReport()">Patient Data Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container mt-4">

        <!-- Placeholder for Dashboard Section -->
        <div id="dashboardSection" style="display: block;">
            <h2>Welcome to the Dashboard</h2>
            <p>Charts and visualizations will appear here soon.</p>
        </div>

        <!-- FHIR Data Table Section -->

        <div id="PatientReport" style="display:none;">
            <div class="contain">
                <label for="inputBox">Enter Patient ID:</label>
                <input type="text" id="inputBox" placeholder="Type here..." />
                <button onclick="submitTask()">Submit</button>
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>



    </script>


</body>

</html>