<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Sign Up</title>
    </head>
    <body> 
        <div id="loginWrapper">
        <h2>Sign Up</h2>
        <form method = "POST" action="{{ url_for('auth.signup') }}">
            <input type = 'text' name="username" placeholder="Username" required><br><br>
            <input type = 'password' name = 'password' placeholder = 'Password' required><br><br>
            <button type="submit">Sign Up</button><br><br>
        </form> 
        <a href="{{ url_for('auth.login')}} ">Already have an account? Login</a><br><br>
        </div>
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <p class="flash-{{ category }}">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
    </div>
    </body>
</html>