<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload JSON Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="adminWrapper">
        <h1>Upload JSON Files</h1>

        <p><a href="/admin/admin">Return Home</a></p>

        <!-- Form to upload JSON files -->
        <form action="{{ url_for('admin.upload_file_json') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="single_json_file">Upload JSON File:</label>
                <input type="file" name="single_json_file" id="single_json_file" accept=".json" required>
            </div>

            <div class="form-actions">
                <button type="submit">Submit</button>
            </div>
        </form>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
